.navigation{
    list-style: none;
    font-size: 13px;
    margin: 0px 400px 0px 620px;
}
.navigation a {
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: cyan;
}
.navigation li {
    display: inline-block;
    margin: 5% 5% 5% 5%;
}
#botom {
    margin: 5% 10% 5% 47%;
}
#second { 
    display: inline-block;      
    vertical-align: bottom;
    width: 420px;
    margin: 5% 5% 5% 15%;
    padding: 10px;
    height: 500px;
}
#first  { 
    display: inline-block;
    vertical-align: bottom;
    width: 420px;
    margin: 5% 5% 5% 15%;
    padding: 10px;
    height: 500px;
}
#third{
    display: inline-block;
    vertical-align: bottom;
    width: 420px;
    margin: 5% 5% 5% 15%;
    padding: 10px;
    height: 500px;
}
#four{
    display: inline-block;
    vertical-align: bottom;
    width: 420px;
    margin: 5% 5% 5% 15%;
    padding: 0px;
    height: 500px;
}
