.big_block{
    display:inline-block;
    vertical-align: bottom;
    width: 1600px;
    margin-left:0px;
    margin-bottom: 100px;
    margin-right: 0px;
    padding: 0px;
    height: 1200px;
}
.top{
    display: inline-block;
    width: 700px;
    margin-left: 600px;
    margin-bottom: 50px;
    margin-right: 600px;
    padding: 0px;
}
#People {
    display: inline-block;
    vertical-align: bottom;
    width: 10px;
    margin-bottom: 20px;
    margin-right:60px;
    margin-left:60px;
    padding: 10px;
    height: 40px;
}
#Coffe {
    display: inline-block;
    vertical-align: bottom;
    margin-left:60px ;
    width: 10px;
    margin-bottom: 20px;
    margin-right:60px;
    padding: 10px;
    height: 40px;
}
#Happy_people {
    display: inline-block;
    vertical-align: bottom;
    width: 10px;
    margin-left:60px;
    margin-bottom: 20px;
    margin-right:60px ;
    padding: 10px;
    height: 40px;
}
#Girl {
    display: inline-block;
    vertical-align: bottom;
    width: 10px;
    margin-left:60px;
    margin-bottom: 20px;
    margin-right:0px;
    padding: 10px;
    height: 40px;
}
.left{
    
    vertical-align: bottom;
    width: 600px;
    margin-left:160px;
    margin-bottom:100px;
    margin-right:30px;
    padding: 0px;
    display:inline-block;
}
#first{
    
    vertical-align: bottom;
    width: 420px;
    margin-left:60px;
    margin-bottom: 20px;
    margin-right:30px ;
    padding: 10px;
    height: 500px;
    display:inline-block;
}
#second{
    
    vertical-align: bottom;
    width: 420px;
    margin-left:60px;
    margin-bottom: 20px;
    margin-right:30px ;
    padding: 10px;
    height: 500px;
    display:inline-block;
}
.right{
    
    vertical-align: bottom;
    width: 600px;
    margin-left:30px;
    margin-bottom:100px;
    margin-right:160px;
    padding: 0px;
    display:inline-block;
}
#third{
    
    vertical-align: bottom;
    width: 420px;
    margin-left:60px;
    margin-bottom: 20px;
    margin-right:30px ;
    padding: 10px;
    height: 500px;
    display:inline-block;
}
#four{
    
    vertical-align: bottom;
    width: 420px;
    margin-left:60px;
    margin-bottom: 20px;
    margin-right:30px ;
    padding: 10px;
    height: 500px;
    display:inline-block;
}
#botom{
    display: inline-block;
    width: 200px;
    margin-left: 600px;
    margin-bottom: 50px;
    margin-right: 0px;
    padding: 0px;
    height: 100px;
    display:inline-block;
}
